:root {
  --white: #ffffff;
  --red: #f05050;
  --textColor: #282828;
  --success: #3cb400;
  --warning: #ff9600;
  --danger: #f05050;
  --green: #28a028;
  --primaryColor200: #00c8c8;
  --primaryColor200-rgb: 0, 200, 200;
  --primaryColor300: #33b3d3;
  --primaryColor400: #00a0c8;
  --primaryColor400-rgb: 0, 160, 200;
  --primaryColor500: #008cff;
  --primaryColor500-rgb: 0, 140, 255;
  --primaryColor: #008cb4;
  --primaryColor-rgb: 0, 140, 180;
}

$primaryColor: #008cb4;
